<div class="movie-show">
  
  <div class="show-top">
    <span class="show-header"><%= @movie["title"] %></span>
    <div class="show-basic-details">
      <%= @movie["genre"] %> | <%= @movie["release_date"] %> | <%= @movie["runtime"] %> min
    </div>
    
  </div>
   
  <div class="show-bottom">
    
    <div class="show-movie">
      <div class="show-poster">
        <img src="https://image.tmdb.org/t/p/w500/<%= @movie['poster_path'] %>" width=250 >
      </div>
      

      <div class="show-reviews">
        <div class="show-header">Reviews</div>
        <% if @reviews.exists? %>
          <% @reviews.each do |review| %>
            <div class="single-review">
              <span class="rating"><%= review.rating %>/10</span><br/>
              <span class="author">Author: <%= review.user_email %></span><br/>
              <% if review.comment.present? %>
                Comment: <%= review.comment %><br/>
              <% end %>
              <%= review.created_at.to_date %><br />
            </div>
          <% end %>
        <% else %>
          Be the first to review! <br />
        <% end %>
        <a href="/movies/<%= @movie["tmdb_id"] %>/reviews/new">Leave a Review</a>
      </div>
    </div>
    
  </div>

</div>