<div class="movie-show">
  
  <div class="show-top">
    <div class="show-header"><%= @movie["title"] %></div>
    <div class="show-basic-details">
      <%= @movie["genre"] %> | <%= @movie["release_date"] %> <br />
    </div>
  </div>
   
  <div class="show-bottom">
    
    <div class="show-movie">
      <div class="show-poster">
        <img src="https://image.tmdb.org/t/p/w500/<%= @movie['poster_path'] %>" width=250 >
      </div>
      
      <div class="show-single-movie">
        <p><%= @movie["overview"] %></p> 
        <a href="/movies/<%= @movie["tmdb_id"] %>/reviews/new">Review</a>
      </div>
    </div>
    

    
    <div class="show-movie-reviews">
      <div class="show-review-header">Reviews</div>
      <% if @reviews.exists? %>
        <% @reviews.each do |review| %>
          Rating: <%= review.rating %>/10 <br/>
          Review By: <%= review.user_email %> <br/>
          <% if review.comment.present? %>
            Comment: <%= review.comment %> <br/>
          <% end %>
          Date Created: <%= review.created_at %> <br />
        <% end %>
      <% else %>
        Be the first to review!
      
      <% end %>
    </div>
  
      
      
    
  </div>

</div>