<%= javascript_include_tag "browse", "data-turbolinks-track" => true  %>

<div class="browse-page">

  <div class="browse-listing-index">
    <h2 class="heading">The Most Popular Movies</h2>
    <table class="browse-table movie-table tablesorter">
      <thead>
        <tr>
          <th class="{sorter: false}"></th>
          <th>Title<img src="/assets/bg.gif"/></th>
          <th>Genre<img src="/assets/bg.gif"/></th>
          <th>Release Date<img src="/assets/bg.gif"/></th>
        </tr>
      </thead>
      <tbody id="browse-list">
      </tbody>
    </table>
  </div>
  
  <div class="browse-reviews">
    <h2 class="heading">Recent Reviews</h2>
    <div id="recent-reviews">
    <% @reviews.take(5).each do |review| %>

      <div class="single-review">
        <a href="/movies/<%= review.movie.id %>"><%= review.movie.title %></a><br />
        <%= review.rating %>/10<br/>
        Author: <%= review.user_email %><br/>
        <%= review.created_at.to_date %><br />
      </div>
    
    <% end %>
      <p><%= link_to "View All Reviews", reviews_path %></p> 
    </div>
  </div>
</div>
