
<div id="reviews-index">
  <h2>All Reviews</h2>
  <% @reviews.each do |review| %>
    <div class="review-details">
      <a href="/movies/<%= review.movie.try(:id) %>"><%= review.movie.try(:title) %></a><br />
      <span class="rating"><%= review.rating %>/10</span><br/>
      <span class="author">Author: <%= review.user_email %></span><br/>
      <% if review.comment.present? %>
        Comment:<br/> 
        <%= review.comment %><br/>
      <% end %>
      <%= review.created_at.to_date %><br />
    </div>
  <% end %>
<%= will_paginate @reviews %>
</div>