
<div id="reviews-index">
  <h1>Reviews</h1>
  <% @reviews.each do |review| %>
    <div class="review-details">
      <a href="/movies/<%= review.movie.id %>"><%= review.movie.title %></a><br />
      <span class="rating"><%= review.rating %>/10</span><br/>
      <span class="author">Author: <%= review.user_email %></span><br/>
      <% if review.comment.present? %>
        Comment:<br/> 
        <%= review.comment %><br/>
      <% end %>
      <%= review.created_at.to_date %><br />
    </div>
  <% end %>

</div>