<%= form_for [ @movie, @review ] do |f| %>
  <p>
    <%= f.label :user_email %> <br />
    <%= f.text_field :user_email %> 
  </p>
  
  <p>
    <%= f.label :rating %> <br />
    <%= f.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
  </p>
  
  <p>
    <%= f.label :comment %> <br />
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit "Submit Comment" %>
  </p>  
<% end %>