<header>
  <div class="nav-flex-container">
    <div class = "left-nav">
    <h1 id="header-title"><%= link_to "What's Poppin?", root_path %><img src='/assets/poppin.jpg' width=37></h1>
    </div>
    
    <!--<div id="mid-nav">-->
    <!--  Only showin' what's worth knowin'-->
    <!--</div>-->
    
    <div id="right-nav">
    
    <%= link_to "Most Popular | ", root_path %> 
    <%= link_to "Search | ", "/pages/search" %>
    <%= link_to "Reviewed Movies | ", movies_path %>
    <%= link_to "Reviews | ", reviews_path %>
    <%= link_to "About", "/pages/about" %>
    </div>
    

  </div>
</header>